.g-fragment {
	&__placeholder,
	&--placeholder {
		overflow: hidden;
		position: relative;
		border-radius: var(--g-general-radius, 5px);
		background: var(--g-color-light-light, #eee);
		&:after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0%;
			width: 100px;
			background: linear-gradient(90deg, var(--g-color-light, #eee), var(--g-color-light-light, #f4f4f4), var(--g-color-light, #eee));
			content: "";
			animation: g_fragment_placeholder_gradient 1s infinite ease-in-out;
		}
	}
}

@keyframes g_fragment_placeholder_gradient {
	from {
		left: 0%;
	}

	to {
		left: 100%;
	}
}
